<div class="shadow">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="assets/logo.svg" alt="XDCS"/>
    </a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <li
          *ngFor="let route of routes"
          class="nav-item"
          [class]="route.path === router.url ? 'active' : ''">
          <a class="nav-link"
             *ngIf="getItemName(route)"
             [routerLink]="'/' + route.path">{{getItemName(route)}}</a>
        </li>
      </ul>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <a routerLink="/sign-in"
         [queryParams]="{redirect: router.url}"
         class="btn btn-primary nav-button"
         role="button">Sign In</a>
    </div>
  </nav>
</div>
