<div [ngClass]="fullscreenMode ? 'fullscreen wrapper' : 'shadow wrapper'">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" routerLink="/">
      <img class="logo" src="assets/logo.svg" alt="XDCS"/>
    </a>

    <div class="collapse navbar-collapse">
      <ul *ngIf="showLinks" class="navbar-nav mr-auto">
        <li
          *ngFor="let route of routes"
          class="nav-item"
          [class]="route.path === router.url ? 'active' : ''">
          <a class="nav-link"
             *ngIf="getItemName(route)"
             [routerLink]="'/' + route.path">{{getItemName(route)}}</a>
        </li>
      </ul>

      <a *ngIf="isAuthenticated()"
         href="javascript:void(0)"
         (click)="logOut()"
         class="btn btn-outline-light nav-button"
         role="button">Log Out</a>
    </div>
  </nav>
</div>
