<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-nodes-list></app-nodes-list>
    </div>
    <div class="col-10">
      <div class="row">

        <div id="icon">
          <fa-icon
            [fixedWidth]="true"
            [icon]="faCircle"
            [ngClass]="node.status == 'ready' ? 'icon-success' :
                       node.status == 'offline' ? 'icon-error' :
                       node.status == 'unavailable' ? 'icon-warn icon-pulse-1' :
                       node.status == 'busy' ? 'icon-warn' :
                       'icon-greyed-out'"
            size="lg"></fa-icon>
        </div>
        <section class="node-info">
          <div class="tab-content profile-tab" id="myTabContent">
            <div aria-labelledby="home-tab" class="tab-pane fade show active" id="home" role="tabpanel">
              <div class="container">
                <div class="col-lg-6">
                  <div class="node-content">

                    <h1>{{node.name}}</h1>
                    <div class="row">
                      <div class="col-md-6">
                        <label>ID</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{node.id}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>IP Address</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{node.address}}</p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <label>Status</label>
                      </div>
                      <div class="col-md-6">
                        <p>{{node.status}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
