<span [ngSwitch]="task.state">
  <fa-icon
    *ngSwitchCase="TaskState.IN_PROGRESS"
    [fixedWidth]="true"
    [icon]="faCircleNotch"
    [spin]="true"
    class="icon-success"
    size="{{size}}"></fa-icon>
  <fa-icon
    *ngSwitchCase="TaskState.FINISHED"
    [fixedWidth]="true"
    [icon]="faCheck"
    class="icon-success"
    size="{{size}}"></fa-icon>
  <fa-icon
    *ngSwitchCase="TaskState.ERRORED"
    [fixedWidth]="true"
    [icon]="faTimes"
    class="icon-error"
    size="{{size}}"></fa-icon>
  <fa-icon
    *ngSwitchCase="TaskState.QUEUED"
    [fixedWidth]="true"
    [icon]="farClock"
    class="icon-warn"
    size="{{size}}"></fa-icon>
  <fa-icon
    *ngSwitchCase="TaskState.CANCELED"
    [fixedWidth]="true"
    [icon]="farStopCircle"
    class="icon-error"
    size="{{size}}"></fa-icon>
</span>
