<div>
  <label for="conf-name">Task definition name</label>
  <input type="text"
         class="form-control mb-3"
         id="conf-name"
         placeholder="Enter name"
         required
         [(ngModel)]="taskDefinition.name"/>

  <label for="conf-type">Task type</label>
  <select class="form-control custom-select"
          id="conf-type"
          [(ngModel)]="taskDefinition.config.type"
          aria-describedby="conf-type-help"
          required>
    <option selected disabled [ngValue]="null">Type</option>
    <option *ngFor="let t of types | keyvalue"
            [ngValue]="t.key">{{ t.value }}</option>
  </select>
  <small id="conf-type-help" class="form-text text-muted">
    Task type
  </small>

  <hr/>

  <ng-container *ngIf="taskDefinition.config.type === null">
    <app-no-data message="Select type" size="2em"></app-no-data>
  </ng-container>

  <ng-container *ngIf="['opencl', 'cuda'].includes(taskDefinition.config.type)">
    <label for="conf-kernel-file">Kernel file</label>
    <input type="text"
           class="form-control mb-3"
           id="conf-kernel-file"
           placeholder="Kernel file"
           required="required"
           [(ngModel)]="taskDefinition.config.kernelfile"/>

    <label for="conf-kernel-name">Kernel name</label>
    <input type="text"
           class="form-control mb-3"
           id="conf-kernel-name"
           placeholder="Kernel name"
           required="required"
           [(ngModel)]="taskDefinition.config.kernelname"/>

    <div class="headline mb-3">
      <label>Kernel parameters</label>
    </div>

    <ng-container *ngIf="taskDefinition.config.kernelparams.length === 0">
      <app-no-data message="No parameters" size="1em"></app-no-data>
    </ng-container>
    <app-orderable-input-list [data]="taskDefinition.config.kernelparams"
                      [emptyElement]="emptyElement">
      <ng-template #content let-item="element">

        <select [(ngModel)]="item.type"
                class="custom-select">
          <option selected disabled [ngValue]="null">Type</option>
          <option
            *ngFor="let t of paramTypes | keyvalue"
            [ngValue]="t.key">{{ t.value }}</option>
        </select>
        <select [(ngModel)]="item.direction"
                class="custom-select">
          <option selected disabled [ngValue]="null">Direction</option>
          <option
            *ngFor="let t of paramDirections | keyvalue"
            [ngValue]="t.key">{{ t.value }}</option>
        </select>
        <input type="text"
               class="form-control"
               placeholder="Name"
               [(ngModel)]="item.name"/>
      </ng-template>
    </app-orderable-input-list>
  </ng-container>


  <ng-container *ngIf="['docker'].includes(taskDefinition.config.type)">
    <label for="conf-dockerfile">Dockerfile</label>
    <input type="text"
           class="form-control mb-3"
           id="conf-dockerfile"
           placeholder="Dockerfile"
           [(ngModel)]="taskDefinition.config.dockerfile"/>
  </ng-container>

  <ng-container *ngIf="['script'].includes(taskDefinition.config.type)">
    <label for="conf-script-path">Script path</label>
    <input type="text"
           class="form-control mb-3"
           id="conf-script-path"
           placeholder="Script path"
           [(ngModel)]="taskDefinition.config.scriptfile"/>
  </ng-container>

  <input
    type="submit"
    class="btn btn-primary float-right mt-3"
    [ngClass]="isValid() ? '' : 'disabled'"
    (click)="saveConfiguration()"
    value="Save"/>
  <div class="clearfix"></div>
</div>
