<form #form="ngForm">
  <label for="conf-name">Task definition name</label>
  <div class="mb-3">
    <input type="text"
           class="form-control"
           id="conf-name"
           placeholder="Enter name"
           required
           #name="ngModel"
           [(ngModel)]="taskDefinition.name"
           name="task-definition-name"/>
    <div [hidden]="name.untouched || name.valid" class="invalid-feedback">
      Name cannot be empty
    </div>
  </div>

  <div class="mb-3">
    <label for="conf-type">Task type</label>
    <select class="form-control custom-select"
            id="conf-type"
            [(ngModel)]="taskDefinition.config.type"
            [ngModelOptions]="{standalone: true}"
            aria-describedby="conf-type-help"
            required>
      <option selected disabled [ngValue]="null">Type</option>
      <option *ngFor="let t of types | keyvalue"
              [ngValue]="t.key">{{ t.value }}</option>
    </select>
  </div>

  <hr/>

  <ng-container *ngIf="taskDefinition.config.type === null">
    <app-no-data message="Select type" size="2em"></app-no-data>
  </ng-container>

  <ng-container *ngIf="['opencl', 'cuda'].includes(taskDefinition.config.type)">
    <div class="mb-3">
      <label for="conf-kernel-file">Kernel file</label>
      <input type="text"
             class="form-control"
             id="conf-kernel-file"
             placeholder="Kernel file"
             required
             #kernelFile="ngModel"
             [(ngModel)]="taskDefinition.config.kernelfile"
             name="kernelfile"/>
      <div [hidden]="kernelFile.untouched || kernelFile.valid" class="invalid-feedback">
        Kernel file cannot be empty
      </div>
    </div>

    <div class="mb-3">
      <label for="conf-kernel-name">Kernel name</label>
      <input type="text"
             class="form-control"
             id="conf-kernel-name"
             placeholder="Kernel name"
             required
             #kernelName="ngModel"
             [(ngModel)]="taskDefinition.config.kernelname"
             name="kernelname"/>
      <div [hidden]="kernelName.untouched || kernelName.valid" class="invalid-feedback">
        Kernel name cannot be empty
      </div>
    </div>

    <div class="headline mb-3">
      <label>Kernel parameters</label>
    </div>

    <ng-container *ngIf="taskDefinition.config.kernelparams.length === 0">
      <app-no-data message="No parameters" size="1em"></app-no-data>
    </ng-container>
    <app-orderable-input-list [data]="taskDefinition.config.kernelparams"
                              [emptyElement]="emptyElement">
      <ng-template #content let-item="element" let-index="index">
        <select [(ngModel)]="item.type"
                [name]="'kernelParamType' + index"
                class="custom-select">
          <option selected disabled [ngValue]="null">Type</option>
          <option
            *ngFor="let t of paramTypes | keyvalue"
            [ngValue]="t.key">{{ t.value }}</option>
        </select>
        <select [(ngModel)]="item.direction"
                [name]="'kernelParamDirection' + index"
                class="custom-select">
          <option selected disabled [ngValue]="null">Direction</option>
          <option
            *ngFor="let t of paramDirections | keyvalue"
            [ngValue]="t.key">{{ t.value }}</option>
        </select>
        <input type="text"
               class="form-control"
               placeholder="Name"
               [(ngModel)]="item.name"
               [name]="'kernelParamName' + index"/>
      </ng-template>
    </app-orderable-input-list>
  </ng-container>

  <ng-container *ngIf="['docker'].includes(taskDefinition.config.type)">
    <div class="mb-3">
      <label for="conf-dockerfile">Dockerfile</label>
      <input type="text"
             class="form-control"
             id="conf-dockerfile"
             placeholder="Dockerfile"
             #dockerfile="ngModel"
             [(ngModel)]="taskDefinition.config.dockerfile"
             name="dockerfile"/>
      <small class="form-text text-muted" [hidden]="dockerfile.model">
        The default Dockerfile will be used
      </small>
    </div>

    <div class="mb-3">
      <label>
        <input type="checkbox" name="allocatePseudoTty"  [(ngModel)]="taskDefinition.config.allocatePseudoTty">
        Allocate pseudo TTY
      </label>
    </div>
  </ng-container>

  <div class="mb-3" *ngIf="['script'].includes(taskDefinition.config.type)">
    <label for="conf-script-path">Script path</label>
    <input type="text"
           class="form-control"
           id="conf-script-path"
           placeholder="Script path"
           #scriptPath="ngModel"
           required
           [(ngModel)]="taskDefinition.config.scriptfile"
           name="scriptfile"/>
    <div [hidden]="scriptPath.untouched || scriptPath.valid" class="invalid-feedback">
      Script path cannot be empty
    </div>
  </div>

  <div class="mb-3" *ngIf="['docker', 'script'].includes(taskDefinition.config.type)">
    <label for="conf-script-path">Artifacts paths</label>
    <app-orderable-input-list [data]="taskDefinition.config.artifacts"
                              emptyElement=""
                              [orderable]="false">
      <ng-template #content let-item="element" let-index="index">
        <input type="text"
               class="form-control"
               placeholder="Path"
               [(ngModel)]="taskDefinition.config.artifacts[index]"
               [name]="'artifactPath' + index"/>
      </ng-template>
    </app-orderable-input-list>
  </div>

  <div class="mb-3" *ngIf="!!taskDefinition.config.type">
    <label for="merging-script">Merging script</label>
    <input type="text"
           class="form-control"
           id="merging-script"
           placeholder="Merging script"
           [(ngModel)]="taskDefinition.config.mergingScript"
           name="mergingScript"/>
  </div>

  <button
    class="btn btn-primary float-right mt-3"
    [disabled]="form.invalid"
    (click)="saveConfiguration()">Save
  </button>
  <div class="clearfix"></div>
</form>
