.toolbar ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  padding: .5rem;

  li {
    display: inline-block;
    margin-left: .5rem;
  }
}

.toolbar-icon {
  padding: 3px 6px;
}
