pre.log-output {
  color: white;
  background-color: #252525;
  white-space: normal;
  display: block;
  cursor: text;
  margin: 0;
  padding: 0;
}

.log-line {
  padding: 0 10px;
  display: flex;

  .line-number {
    text-align: right;
    min-width: 4ch;
  }

  .line-tag {
    text-align: left;
  }

  .line-number, .line-tag {
    user-select: none;
    margin-right: 10px;
    filter: brightness(50%);
  }

  .line-contents {
    flex-grow: 1;
  }
}

:host /deep/ .tooltip-inner {
  white-space: nowrap;
}
