<pre *ngIf="convert" class="log-output">
  <ng-container *ngFor="let line of lines">
    <div class="log-line">
      <ng-container *ngIf="line.tag">
        <div class="line-tag"
             [style.min-width.ch]="tagWidth+2">
          [{{ line.tag }}]
        </div>
       </ng-container>
      <div class="line-number"
           tooltip="{{ line.time | date:timePopupFormat }}"
           placement="right">
        {{ line.lineNumber }}
      </div>
      <div class="line-contents">
        <app-ansi-to-html [convert]="convert" [data]="line.contents"></app-ansi-to-html>
      </div>
    </div>
  </ng-container>
</pre>
