.card {
  width: 12rem;
  display: inline-block;
  margin: 15px;
}

.card-body {
  padding: 15px;
}

.row {
  width: 100%;
  margin: 0;
}

h5 {
  margin-bottom: 8px;
}

.status-col, .details-col {
  margin: 0;
  padding: 0;
}

.status {
  margin-top: 0.2em;
  margin-left: 0.2em;
  margin-right: 1em;

  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: gray;
}

.online {
  background-color: #05c60b;
}

.offline {
  background-color: #ff0000;
}
