<div class="card" (mouseover)="hover=true" (mouseleave)="hover=false">
  <div class="card-body transition-smooth" [ngClass]="hover ? 'shadow' : 'shadow-sm'">
    <div class="row">
      <div class="col-auto status-col">
        <div>
          <fa-icon
            [icon]="faCircle"
            [fixedWidth]="true"
            [ngClass]="data.status == NodeStatus.Online ? 'icon-success' :
                       data.status == NodeStatus.Offline ? 'icon-error' :
                       'icon-greyed-out'"
            size="sm"></fa-icon>
        </div>
      </div>
      <div class="col details-col">
        <h5 class="card-title">{{data.name}}</h5>
        <p class="card-text">{{data.address}}</p>
      </div>
    </div>
    <a [routerLink]="data.routerLink" class="stretched-link"></a>
  </div>
</div>
