<div class="card" (mouseover)="hover=true" (mouseleave)="hover=false">
  <div class="card-body transition-smooth" [ngClass]="hover ? 'shadow' : 'shadow-sm'">
    <div class="row">
      <div class="col-auto status-col">
        <div [ngSwitch]="data.status">
          <fa-icon
            *ngSwitchCase="NodeStatus.Online"
            [icon]="faCircle"
            [fixedWidth]="true"
            class="icon-success"
            size="sm"></fa-icon>
          <fa-icon
            *ngSwitchCase="NodeStatus.Offline"
            [icon]="faCircle"
            [fixedWidth]="true"
            class="icon-error"
            size="sm"></fa-icon>
        </div>
      </div>
      <div class="col details-col">
        <h5 class="card-title">{{data.name}}</h5>
        <p class="card-text">{{data.address}}</p>
      </div>
    </div>
    <a [routerLink]="data.routerLink" class="stretched-link"></a>
  </div>
</div>
