@import "../global_mixins";

.theme(@theme-name) {
  .colors(@theme-name);
  .fonts(@theme-name);

  .container {
    .container-bound();
  }

  body {
    background-color: @cl-background;
    font-family: @fnt-family-main;
    font-size: @fnt-size-main;
    color: @cl-font-main;

    margin: 0;
    padding: 0;
  }
}
