<div class="item row card transition-smooth"
     [ngClass]="!isCollapsed ? 'shadow' : 'shadow-sm'">
  <div class="position-relative">
    <div class="card-body item-summary">
      <span [ngSwitch]="status">
        <fa-icon
          *ngSwitchCase="TaskExecutionStatus.InProgress"
          [icon]="faCircleNotch"
          [fixedWidth]="true"
          [spin]="true"
          class="icon-warn"
          size="lg"></fa-icon>
        <fa-icon
          *ngSwitchCase="TaskExecutionStatus.Finished"
          [icon]="faCheck"
          [fixedWidth]="true"
          class="icon-success"
          size="lg"></fa-icon>
        <fa-icon
          *ngSwitchCase="TaskExecutionStatus.Errored"
          [icon]="faTimes"
          [fixedWidth]="true"
          class="icon-error"
          size="lg"></fa-icon>
      </span>

      <h5 class="card-title">{{taskTitle}}</h5>
    </div>
    <a class="stretched-link"
       href="javascript:void(0)"
       (click)="isCollapsed = !isCollapsed"></a>
  </div>
  <div class="item-details"
       [collapse]="isCollapsed"
       [isAnimated]="true">
    <hr/>
    <div class="card-body">
      <div class="d-flex flex-row-reverse" [ngSwitch]="status">
        <a href="#/task/asdf"
           class="btn btn-outline-primary item-details-button">Details</a>
        <a *ngSwitchCase="TaskExecutionStatus.InProgress"
           href="#/task/cancel"
           class="btn btn-outline-danger item-details-button">Cancel</a>
        <a *ngSwitchCase="TaskExecutionStatus.Errored"
           href="#/task/retry"
           class="btn btn-outline-success item-details-button">
          <fa-icon [icon]="faRedo"></fa-icon>Retry</a>
      </div>
    </div>
  </div>
</div>
