<app-toolbar [buttons]="[buttonImportFile, buttonCreateDirectory, buttonCreateFile]">
  <ng-template #buttonCreateFile>
    <button class="btn btn-icon text-primary"
            (click)="doCreateFile()"
            [disabled]="!canCreateFile">
      <fa-icon [icon]="faPlusCircle"></fa-icon>
    </button>
  </ng-template>
  <ng-template #buttonCreateDirectory>
    <button class="btn btn-icon text-primary"
            (click)="doCreateDirectory()"
            [disabled]="!canCreateFile">
      <fa-icon [icon]="faFolderPlus"></fa-icon>
    </button>
  </ng-template>
  <ng-template #buttonImportFile>
    <button class="btn btn-icon text-primary"
            (click)="doImportFile()">
      <fa-icon [icon]="faUpload"></fa-icon>
    </button>
  </ng-template>
</app-toolbar>
