@import "global_variables";

.margin-centered() {
  margin-left: auto;
  margin-right: auto;
}

.width-bound() {
  width: 100%;

  @media @tablet {
    width: 768px;
  }

  @media @desktop {
    width: 940px;
  }
}

.theme(@theme-name) {
  // nothing
}

.fonts(@theme-name) {
  // nothing
}

.colors(@theme-name) {
  // nothing
}

.lengths(@theme-name) {
  // nothing
}
