<app-navbar></app-navbar>
<ng-container *ngIf="!deployment || !nodes || !definition; else loaded">
  <app-loading></app-loading>
</ng-container>
<ng-template #loaded>
  <div class="container">
    <div class="mb-3">
      <h1>Start a new task</h1>
    </div>

    <div class="row">
      <div class="col-xl-6">
        <h2>Details</h2>
        <ng-container [ngTemplateOutlet]="details"></ng-container>
      </div>
      <div class="col-xl-6">
        <h2>Parameters</h2>
        <ng-container [ngTemplateOutlet]="parameters"></ng-container>
      </div>
    </div>

    <h2>Resources</h2>
    <ng-container [ngTemplateOutlet]="resourcesList"></ng-container>

    <div class="mt-3">
      <button
        class="btn btn-success float-right"
        type="button"
        (click)="submitTask()">
        Start task
      </button>
      <div class="clearfix"></div>
    </div>
  </div>
</ng-template>
<app-footer></app-footer>

<ng-template #details>
  <table class="table w-100">
    <tbody>
    <tr>
      <th scope="row">Definition name</th>
      <td>{{definition.name}}</td>
    </tr>
    <tr>
      <th scope="row">Deployment ID</th>
      <td>{{deploymentId}}</td>
    </tr>
    <tr>
      <th scope="row">Task type</th>
      <td>{{deployment.config.type}}</td>
    </tr>
    <tr>
      <th scope="row">Task name</th>
      <td>
        <input class="form-control"
               id="task-name"
               [(ngModel)]="taskName"
               placeholder="Name"/>
      </td>
    </tr>
    <ng-container *ngIf="['opencl', 'cuda'].includes(deployment.config.type)">
      <tr>
        <th scope="row">Kernel file</th>
        <td>{{deployment.config.kernelfile}}</td>
      </tr>
      <tr>
        <th scope="row">Kernel name</th>
        <td>{{deployment.config.kernelname}}</td>
      </tr>
      <tr>
        <th scope="row">Global work shape</th>
        <td>
          <div class="shape-dimensions">
            <div class="shape-dimension" *ngFor="let i of [0, 1, 2]">
                  <input class="form-control"
                         type="number"
                         min="1"
                         required="required"
                         [(ngModel)]="globalWorkShape[i]"
                         placeholder="Dimension size"/>
            </div>
          </div>
        </td>
      </tr>
      <tr>
        <th scope="row">Local work shape</th>
        <td>
          <label>
            <input type="checkbox" name="customLocalWorkShape" [(ngModel)]="customLocalWorkShape">
            Specify custom local work shape
          </label>
          <div class="shape-dimensions">
            <div class="shape-dimension" *ngFor="let i of [0, 1, 2]">
                <input class="form-control"
                       type="number"
                       min="1"
                       required="required"
                       [disabled]="!customLocalWorkShape"
                       [(ngModel)]="localWorkShape[i]"
                       placeholder="Dimension size"/>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
    <tr *ngIf="!!deployment.config.mergingScript">
      <th scope="row">Merging agent</th>
        <td>
          <input [(ngModel)]="mergingAgent"
            [typeahead]="nodeIds"
            [typeaheadIsFirstItemActive]="false"
            [typeaheadScrollable]="true"
            [typeaheadSelectFirstItem]="false"
            class="form-control"
            required="required"
            placeholder="Select node"/>
        </td>
    </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #parameters>
  <ng-container *ngIf="['opencl', 'cuda'].includes(deployment.config.type); else noParameters"
                [ngTemplateOutlet]="parametersKernel"></ng-container>
  <ng-template #noParameters>
    <app-no-data message="No parameters" size="2em"></app-no-data>
  </ng-template>
</ng-template>

<ng-template #parametersKernel>
  <table class="table w-100" *ngIf="!!deployment.config.kernelparams">
    <tbody>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Direction</th>
      <th>Value</th>
    </tr>
    <tr *ngFor="let param of deployment.config.kernelparams; let i = index">
      <td>{{param.name}}</td>
      <td>{{param.type}}</td>
      <td>{{param.direction}}</td>
      <td>
        <ng-container
          *ngIf="param.type == 'simple' && param.direction != 'out' && reservedParamNames.includes(param.name)">
          <input value="Reserved"
                 class="form-control"
                 placeholder="Value"
                 required="required"
                 disabled="disabled"
                 type="text"/>
        </ng-container>
        <ng-container
          *ngIf="param.type == 'simple' && param.direction != 'out' && !reservedParamNames.includes(param.name)">
          <input [(ngModel)]="kernelArguments[i].value"
                 class="form-control"
                 placeholder="Value"
                 required="required"
                 type="text"/>
        </ng-container>
        <ng-container *ngIf="param.type == 'pointer' && param.direction != 'out'">
          <app-upload-file
            [(file)]="kernelArguments[i].file"
            label="Enter param file"></app-upload-file>
        </ng-container>
        <ng-container *ngIf="param.direction == 'out'">
          <input class="form-control"
                 placeholder="Size in bytes"
                 min="1"
                 required="required"
                 [(ngModel)]="kernelArguments[i].size"
                 type="number"/>
        </ng-container>
      </td>
    </tr>
    </tbody>
  </table>
  <ng-container *ngIf="!deployment.config.kernelparams">
    <app-no-data message="No parameters" size="1em"></app-no-data>
  </ng-container>
</ng-template>

<ng-template #resourcesList>
  <ng-template #nodeSelectionTemplate let-nodeId="item" let-index="index">
    <span>{{ nodeId }} ({{ nodes[index].name }})</span>
  </ng-template>

  <ng-template #resourceSelectionTemplate let-resourceKey="item" let-index="index">
    <span>{{ resourceKey }}</span>
  </ng-template>

  <app-orderable-input-list
    [data]="selectedResources"
    [emptyElement]="emptyResource">
    <ng-template #content let-resource="element">
      <input [(ngModel)]="resource.agent"
             [typeahead]="nodeIds"
             [typeaheadItemTemplate]="nodeSelectionTemplate"
             [typeaheadIsFirstItemActive]="false"
             [typeaheadScrollable]="true"
             [typeaheadSelectFirstItem]="false"
             class="form-control"
             placeholder="Node"/>
      <input [(ngModel)]="resource.key"
             [typeahead]="resourceKeysByNodeId(resource.agent)"
             [typeaheadItemTemplate]="resourceSelectionTemplate"
             [typeaheadIsFirstItemActive]="false"
             [typeaheadScrollable]="true"
             [typeaheadSelectFirstItem]="false"
             class="form-control"
             placeholder="Resource"/>
    </ng-template>
  </app-orderable-input-list>
</ng-template>
