<app-navbar></app-navbar>
<div class="container-fluid flex-fill">
  <ng-container *ngIf="taskDefinition === null">
    <app-no-data message="Loading..."></app-no-data>
  </ng-container>
  <as-split *ngIf="taskDefinition !== null" unit="percent">
    <as-split-area size="20">
      TBD
    </as-split-area>
    <as-split-area size="60">
      <app-code-editor></app-code-editor>
    </as-split-area>
    <as-split-area size="20">
      <app-task-def-config [taskDefinition]="taskDefinition"
                           (submit)="saveTaskDefinitionConfig($event.config)"></app-task-def-config>
    </as-split-area>
  </as-split>
</div>
