<app-navbar [fullscreenMode]="true"></app-navbar>
<div class="flex-fill" #container>
  <ng-container *ngIf="taskDefinition === null">
    <app-loading></app-loading>
  </ng-container>
  <as-split *ngIf="taskDefinition !== null" unit="percent"
            appSizeFill [fillHeight]="true">
    <as-split-area size="20">
      <div class="file-tree-toolbar d-flex flex-row border-bottom">
        <div class="flex-grow-0">
          <button
            class="btn btn-link float-left m-1"
            [routerLink]="['/', 'task-definitions', taskDefinitionId]">
            <fa-icon
              [icon]="faAngleLeft"></fa-icon>
            Back
          </button>
        </div>
        <div class="flex-grow-1">
          <app-file-tree-toolbar
            (createFile)="createFile('/')"
            (createDirectory)="createDirectory('/')"></app-file-tree-toolbar>
        </div>
      </div>
      <div class="split-area-container">
        <app-file-tree
          [loadHandler]="loadHandler"
          [moveHandler]="moveHandler"
          [deleteHandler]="deleteHandler"
          [openHandler]="openHandler"
          [createDirectoryHandler]="createDirectoryHandler"
          [createFileHandler]="createFileHandler"></app-file-tree>
      </div>
    </as-split-area>
    <as-split-area size="60">
      <div *ngIf="!!editedFile" class="code-editor-area">
        <div class="code-editor-toolbar-wrapper">
          <app-editor-toolbar [editor]="codeEditor"></app-editor-toolbar>
        </div>
        <div class="code-editor-wrapper">
          <app-code-editor
              #codeEditor
              [editable]="editedFile"></app-code-editor>
        </div>
      </div>
      <div class="split-area-container" *ngIf="!editedFile">
        <app-no-data message="No opened file" size="2rem"></app-no-data>
      </div>
    </as-split-area>
    <as-split-area size="20">
      <div class="split-area-container">
        <app-task-def-config [taskDefinition]="taskDefinition"
                             (save)="saveTaskDefinition($event)"></app-task-def-config>
      </div>
    </as-split-area>
  </as-split>
</div>
